@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Welcome</h1>
    <p>
        Thank you for visiting the GC Movie Page!
        Click below to search movies in the database.
    </p>
    <a asp-controller="Search" asp-action="Index">Search</a>
</div>